@keyframes fadeIn {
  from {
    transform: translateY(200px);
    opacity: 0;

  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadespinner {
  From {
    Opacity: 1;
  }

  To {
    Opacity: 0;
  }
}


@keyframes rotate-center {
  0% {
    transform: translate(50px, 0);
  }

  20% {
    transform: translate(30px, 0);
  }

  40% {
    transform: translate(20px, 0);
  }

  60% {
    transform: translate(15px, 0);
  }

  80% {
    transform: translate(7px, 0);
  }

  100% {
    transform: translate(1px, 0);
  }
}

@keyframes elementfloat {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes checkbox-contain {
  0% {
    transform: translate(50px, 0);
  }

  30% {
    transform: translate(25px, 0);
  }

  65% {
    transform: translate(12px, 0);
  }

  100% {
    transform: translate(1px, 0);
  }
}

@keyframes checkbox {
  0% {
    transform: translate(50px, 0);
  }

  25% {
    transform: translate(30px, 0);
  }

  45% {
    transform: translate(20px, 0);
  }

  65% {
    transform: translate(15px, 0);
  }

  82% {
    transform: translate(7px, 0);
  }

  100% {
    transform: translate(1px, 0);
  }
}

@keyframes slide {

  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}