@import "animations.scss";
@import "mixins.scss";
$primary:#9356dc;
$second:#ff79da;
$third:#99E2D0;
$backgroundbutton:#e9e9e9;
$boxshadow: 0 5px 15px 0 #c3c3c3;
$tmp: 3s;

* {
    box-sizing: border-box;
}

h1,
h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
    margin-left: 25px;
}

body {
    width: 100%;
    background: white;
    margin: 0;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.headerlogo {
    background: white;
    display: flex;
    text-align: center;
    // width: 100%;

}

header img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;

}


.map {

    //justify-content: center;
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;

}

.input-field input {

    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    padding: 15px 10px;
    width: 100%;


}

.searchicons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
        font-size: x-large;
        display: flex;
        align-items: center;
        margin-left: 4em;
        padding: 0.4em 0.4em;
    }

}


main {
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

article.hgroup {

    flex: 100%;
    text-align: center;
    padding: 0px 10px;
    background-color: transparent;

    h2 {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 1.6rem;
        font-family: "Roboto", sans-serif;
    }
}

h3 {
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 0;
}

.coeur {
    cursor: pointer;
    position: relative;
    opacity: 1;
    // color: #9d9d9d;

    font-size: 1.7rem;

    // top: 50px;
    // width: 20%;
    // right: 20px;
    // background-color: chocolate;

    .hide,
    .pink {
        // font-size: 24px;
        position: absolute;
        top: 0;
        right: 0;
        transition: 1s;
    }

}

.hide {
    opacity: 1;
    z-index: 2;
    color: #9d9d9d;
}

.pink {
    opacity: 0;
    background: linear-gradient(to left, #ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.coeur:hover {
    font-size: 1.5rem;

    .hide {
        opacity: 0;
    }

    .pink {
        opacity: 1;
    }
}

.btn a {
    display: inline-block;
    background: linear-gradient(#ff79da, #9356dc);
    border: 0;
    text-align: center;
    border-radius: 25px;
    font-size: 25px;
    color: #fff;
    box-shadow: $boxshadow;
    font-weight: bold;
    margin: 15px 30px;
    padding: 15px 30px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    text-decoration: none;

    :hover {
        transform: scale(1.15);
        text-decoration: none;
        cursor: pointer;
        @include hover;
    }
}


.btn a {
    text-decoration: none;
    color: white;

}

.btn1 {

    flex: 1 0 auto;
    margin-bottom: 20px;
    background: #e9e9e9;
    border-radius: 30px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: bold;
    box-shadow: $boxshadow;
    display: flex;
    justify-content: space-around;
    width: 100%;

    &:hover {
        @include hover;
    }

}


.texte {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.fonctionnement {
    flex-direction: column;
    padding: 15px;



}


.pas a {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-decoration: none;

    :hover {
        text-decoration: none;
    }

}

.circle {


    background: #9356dc;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    font-weight: bold;
    margin-top: 15px;
    height: 60%;
    margin-left: -40px;

}

.marker {
    align-items: center;
    font-weight: 900;
    color: grey;
    display: flex;
    justify-content: center;
    :visited{
        color: purple;
    }
}

#texte {
    display: flex;
    justify-content: center;

}
.restaurants{
    background-color:#f4f4f4;
    padding: 15px;
}
.carteresto {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 18px;
    background: #fff;
    box-shadow: $boxshadow;
    border-radius: 18px;
    justify-content: space-between;



    img {
        object-fit: cover;
        width: 100%;
        border-radius: 15px;
    }
}

.carteresto a {
    text-decoration: none;
    cursor: pointer;


}

.carterestotitle {
    // position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    width: 100%;
    

    h3 {
        font-weight: 300;
        font-size: 1.1rem;
        margin-left: 0;
        width: 80%;
    }
}

.carterestotitle h2 {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    width: 80%;
    margin-bottom: -15px;

}


figcaption {

    top: 10px;
    right: 10px;
    background: #99e2d0;
    color: #2c9c81;
    padding: 3px 10px;
    font-weight: bold;


}

.étiquette {

    position: absolute;
    top: 30px;
    right: 10px;
    background: #99e2d0;
    color: #2c9c81;
    padding: 3px 10px;
    font-weight: bold;
    z-index: 999;
}

.store_contain {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
    margin-top: 10px;

}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    background: #333;
    color: white;

    img {
        display: flex;
        justify-content: center;
        filter: brightness(20);
        margin-left: 2rem;
        margin-top: 2rem;
    }
}

#textefooter {
    display: flex;
    flex-direction: column;
    text-align: left;
}

li {
    list-style: none;
    line-height: 2;
    cursor: pointer;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }
}



#spinnery {
    position: fixed;
    left: 0;
    top: 0;
    //z-index: 1;
    width: 100%;
    height: 100%;
    //pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000c;
    animation: spinner_opacity 5s forwards;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
            // opacity: 1;
            animation-delay: $tmp;
        }

        // 75% {
        // opacity: 1;
        // }
        100% {
            transform: rotate(360deg);
            // opacity: 0;
        }
    }

    @keyframes spinner_opacity {
        0% {
            // transform: rotate(0deg);
            opacity: 1;
            animation-delay: $tmp;
        }

        75% {
            opacity: 1;
        }

        100% {
            // transform: rotate(360deg);
            opacity: 0;
        }
    }

    @keyframes spinner_color {
        0% {
            // border-bottom: dotted 16px $third;
            // border-top: dotted 16px $second ;
            animation-delay: $tmp;
        }

        100% {
            // border-bottom: dotted 16px $second;
            // border-top: dotted 16px $third;
        }
    }


    #small {
        border: dotted mix($third, $second) 5px;
        border-bottom-color: $third;
        border-top-color: $second;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #ccc;
        animation: spin 5s forwards, spinner_opacity 5s forwards, spinner_color 5s forwards;

    }
}


@media (min-width: 1024px) {
    .headerlogo {
        display: flex;
        justify-content: center;

    }

    header.map {
        height: 50%;
    }

    h2,
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;

    }

    article.hgroup {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 70%;
        flex-direction: column;
    }

    .fonctionnement {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap;
        flex-direction: column;
        width: 100%;
        padding: 15px;


        #petitfonctionnement {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;


        }
    }

    div.pas a {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    .pas {
        width: 100%;
        margin-left: 20px;
        padding: 10px 5px;
    }

    .circle {
        margin-left: -35px;
        top: 10px;

    }



    .restaurants {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap;
        margin-left: -15px;
        margin-right: -15px;

        height: 60%;

        h2 {
            padding: 15px 0 15px 15px;
            width: 100%;
        }
    }

    .carteresto {
        position: relative;

        width: 20%;
        height: 20%
    }

    .carteresto h2 h3 a {
        font-size: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}