@import url(C:\Users\33677\Desktop\sassworkshop\dart-sass\animations.scss);
@import url(C:\Users\33677\Desktop\sassworkshop\dart-sass\media.css);
$primary:#9356dc;
$second:#ff79da;
$third:#99E2D0;
$backgroundbutton:#e9e9e9;
$boxshadow: 0 5px 15px 0 #c3c3c3;

* {
    box-sizing: border-box;
}

h1,
h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    margin-left: 25px;
}

body {


    background: white;
    margin: 0;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headerlogo{
    display: flex;
    justify-content: center;
    height: auto;
    width: 70%;
}
#petitfonctionnement {
    display: flex;
    justify-content: space-around;
    width: auto;
}
.pas{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-left: 20px;
    
    p{
        font-size: 1rem;
    }
}
#marker{
    font-size: 30px;
    width:100px;
}


.restaurants {
    display:flex;
 
    flex-flow: wrap;
    justify-content: space-between;
    width: auto;
    height: auto;
    


}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
}

@media(min-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
    }

    .headerlogo {
        background: white;
        display: flex;
        text-align: center;
        width: 100%;
        padding: 5px 46px;
        border-bottom: 2px solid #f4f4f4;
        box-shadow: 0 1px 4px rgb (0 0 0 / 30);
    }

    header img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        padding: 5px 207px
    }


    .map {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #e8e8e8;

    }

    .input-field input {
        display: flex;
        margin-left: 25px;
        height: 90px;
        border: 0;
        align-items: center;
        background-color: transparent;
        font-size: 40px;
    }

    .searchicons {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        i {
            font-size: xx-large;
            display: flex;
            align-items: center;
            padding-left: 200px;
        }

    }


    main {
        display: flex;
        background-color: #f2f2f2;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    article.hgroup {
        background-color: transparent;
        width: 49%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 25px;
        font-weight: bold;
        line-height: 1;

        h3 {
            font-size: 25px;
            text-align: center;
            line-height: 2;
            margin-left: 25px;
        }
    }

    .hgroup h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 1.5;
    }

    .btn {
        display: inline-block;
        background: linear-gradient(#ff79da, #9356dc);
        text-decoration: none;
        cursor: pointer;
        border: 0;
        text-align: center;
        border-radius: 25px;
        font-size: 25px;
        color: #fff;
        box-shadow: $boxshadow;
        font-weight: bold;
        margin: 15px 30px;
        padding: 15px 30px;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 1000ms;

        :hover {
            transform: scale(1.15);
        }
    }





    .btn1 {
        display: flex;
        flex: 1 0 auto;
        margin-bottom: 20px;
        text-decoration: none;
        background: #e9e9e9;
        border-radius: 30px;
        text-align: justify;
        margin-left: 0;
        font-size: 45px;
        font-family: "Roboto", sans-serif;
        color: #000;
        font-weight: bold;
        padding: 20px 15px;
        box-shadow: $boxshadow;
        align-items: center;
        width: 100%;

    }

    .fonctionnement {

        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 10px 5px;

        h2 {
            line-height: 2;
        }
    }

    #petitfonctionnement {
        width: 100%;
        

    }

    .pas {
        display: flex;
        justify-content: space-around;
        background: #fff;

    }

    .circle {
        position: absolute;
        left: 12px;
        margin-top: -7px;
        background: #9356dc;
        border-radius: 90%;
        color: #fff;
        display: flex;
        justify-content: center;
        width: 25px;
        padding: 3px 30px;
        font-weight: bold;

    }

    #marker {
        align-items: center;
        font-weight: 900;
        color: grey;
        display: flex;
        justify-content: center;
    

    }

    #texte {
        display: flex;
        justify-content: center;



    }

    figure {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }

    .carteresto {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 15px;

        background: #fff;
        box-shadow: $boxshadow;
        border-radius: 15px;
        width: 100%;


        img {
            object-fit: cover;
            width: 100%;

        }
    }

    .carteresto a {
        text-decoration: none;
        cursor: pointer;


    }

    .carteresto h2 {

        margin-left: 25px;
        font-family: "Roboto", sans-serif;

    }

    figcaption {
        position: relative;

        top: 10px;
        right: 10px;
        background: #99e2d0;
        color: #2c9c81;
        padding: 3px 10px;
        font-weight: bold;
        width: 25%;

    }

    .étiquette {

        position: absolute;
        top: 30px;
        right: 10px;
        background: #99e2d0;
        color: #2c9c81;
        padding: 3px 10px;
        font-weight: bold;
        z-index: 999;
    }


    footer {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 20px;
        background: #333;

        ul {
            list-style: none;

            li {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
#spinnery {
    border: 20px solid #CCCCCC;
    border-top: 20px solid #1177FF;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    Animation-name: fadespinner;
    Animation-delay: 2s;
    Animation-duration: 4s;
    Animation-iteration-count: infinite;
    @keyframes fadespinner
    {
      From {
        Opacity : 1;
      }
      To {
        Opacity : 0;
      }
    }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
    @keyframes color {
        100%,
        0% {
          stroke: $primary;
        }
        40% {
          stroke: $second;
        }
        66% {
          stroke: $third;
        }
        80%,
        90% {
          stroke: $second;
        }
      }
      