* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.headerlogo {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  padding: 5px 46px;
  border-bottom: 2px solid #f4f4f4;
  -webkit-box-shadow: 0 1px 4px rgb 0 0 0/30;
          box-shadow: 0 1px 4px rgb 0 0 0/30;
}

header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 145px;
  height: 90px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e8e8e8;
}

.input-field input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 105px;
  height: 90px;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-size: 40px;
}

.searchicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchicons i {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.hgroup {
  background-color: transparent;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
}

article.hgroup h3 {
  font-size: 20px;
  color: #99E2D0;
}

.btn {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;
  color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: bold;
  margin: 0 0.3em 0.3em 0;
  padding: 15px 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 20px;
  text-decoration: none;
  background: #e9e9e9;
  border-radius: 30px;
  text-align: justify;
  margin-left: 0;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: bold;
  padding: 20px 15px;
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
}

.carteresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  min-width: 0;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px 2px #e9e9e9;
          box-shadow: 2px 2px 10px 2px #e9e9e9;
  border-radius: 15px;
}

.carteresto img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.carteresto a {
  text-decoration: none;
  cursor: pointer;
}

.carteresto h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 0;
  font-family: "Roboto", sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 20px;
  background: #333;
}

footer ul li {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */